@model IEnumerable<AppProjetFilRouge.Models.CandidatViewModel>

@{
    ViewData["Title"] = "Gestion des Candidats";
}

<h1>Gestion des candidats</h1>



<div class="pfr-gestionNavbar d-flex justify-content-center m-5 p-4">
    <a asp-area="" asp-controller="Technologies" asp-action="Index" class="btn pfr-btn me-5 text-white">Gestion des technologies</a>
    <a asp-area="" asp-controller="Levels" asp-action="Index" class="btn pfr-btn me-5 text-white">Gestion des niveaux</a>
    <a asp-area="" asp-controller="QuestionTypes" asp-action="Index" class="btn pfr-btn me-5 text-white">Gestion des types de questions </a>
    <a asp-area="" asp-controller="Questions" asp-action="Index" class="btn pfr-btn me-5 text-white">Gestion des questions</a>
    <a asp-area="" asp-controller="" asp-action="Index" class="btn pfr-btn me-5 text-white">Gestion des choix</a>
</div>

<div class="pfr-gestionNavbar d-flex justify-content-lg-end m-5 p-4">
    <a asp-area="" asp-controller="Candidat" asp-action="Create" class="btn pfr-btn me-5 text-white">Ajout d'un candidat</a>
</div>


 <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
</nav>

<table class="table">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.ABirthDate)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
            @foreach (var item in Model) 
            {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.ABirthDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success text-white"><i class="bi bi-pencil-fill"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-warning text-white"><i class="bi bi-menu-button-fill"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger text-white"><i class="bi bi-x-lg"></i></a>
                        </td>
                    </tr>
            }
    </tbody>

</table>
