@model List<QuestionAnswerViewModel>

@{
    ViewData["Title"] = "Create";
    var questionTypeId = ViewData["QuestionTypeId"];
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="d-flex align-items-center">
                    <div class="form-group form-check">
                        <label class="form-check-label" asp-for="@Model[i].IsCorrect"></label>
                        <input type="checkbox"  asp-for="@Model[i].IsCorrect" class="form-check-input" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model[i].Name" class="control-label">Choix @(i+1) :</label>
                        <input asp-for="@Model[i].Name" class="form-control" />
                        <span asp-validation-for="@Model[i].Name" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="@Model[i].QuestionId" />
            }

            @questionTypeId

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
