@model PassageQuizViewModel;

<div>


        <h3>Quiz n°@Html.DisplayFor(modelItem => Model.Quizz.QuizId) | @Html.DisplayFor(modelItem => Model.Quizz.Name) 
            (@Html.DisplayFor(modelItem => Model.Quizz.Level.Name))</h3>



        <form asp-action="Index" asp-route-quizId="@Model.Quizz.QuizId" asp-route-questionId="@Model.Question.Questionid">

            <div class="d-flex flex-column justify-content-center">

@*
                    <h5>
                        @Html.DisplayFor(modelItem => Model.Quizz.Questions.First().Name)
                    </h5>*@
                    <div class="d-flex">
@*                      <h6>@Html.DisplayFor(modelItem => Model.Quizz.Questions.First().QuestionType.Name)</h6>
*@
                    <div class="d-flex flex-column">

@*                    name="@Model.Answers[i].QuestionAnswerId"
*@
                    @for (int i = 0; i < Model.Answers.Count; i++)
                    {
                        <div class="form-group">
                            <input type="checkbox" asp-for="@Model.Answers[i].IsChecked">
                            <label asp-for="@Model.Answers[i].IsChecked" class="control-label">@Model.Answers[i].Name</label>
                        </div>
                        
                        <input type="hidden" asp-for="@Model.Answers[i].QuestionAnswerId" />
                        <input type="hidden" asp-for="@Model.Answers[i].QuestionId" />
                        <input type="hidden" asp-for="@Model.Answers[i].Name" />

                    }
                        </div>

                    </div>

               
            </div>
            <div class="form-group">
                <input type="submit" value="Suivant" class="btn btn-primary" />
            </div>
        </form>
    
</div>