@model AppProjetFilRouge.Models.QuestionViewModel

@{
    ViewData["Title"] = "Suppression";
}

<h1>Voulez-vous vraiment supprimer cette question ?</h1>

<div class="pfr-gestionNavbar d-flex flex-column justify-content-center m-5 p-4">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Technology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Technology.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionType.Name)
        </dd>
    </dl>

    <div class="pfr-gestionNavbar d-flex justify-content-center m-5 p-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Questionid" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
    </form>
    </div>

    <a asp-action="Index"><i class="bi bi-arrow-left"></i> Retour</a>

</div>
