@model List<QuestionViewModel>

@{
    ViewData["Title"] = "Gestion des questions";
}

<h1 class="display-4">Gestion des questions</h1>


<div class="pfr-gestionNavbar d-flex justify-content-start m-2 p-4">
    <a asp-area="" asp-controller="Quizs" asp-action="Index">Quiz</a>
    <a asp-area="" asp-controller="Questions" asp-action="Index" class="active">Questions</a>
    <a asp-area="" asp-controller="QuestionAnswers" asp-action="Index">Réponses</a>
    <a asp-area="" asp-controller="Technologies" asp-action="Index">Technologies</a>
    <a asp-area="" asp-controller="Levels" asp-action="Index">Niveaux</a>
    <a asp-area="" asp-controller="QuestionTypes" asp-action="Index">Types de question</a>
</div>

<div class="d-flex justify-content-lg-end p-4">
    <a asp-area="" asp-controller="Questions" asp-action="Create" class="btn pfr-btn me-5 text-white"><i class="bi bi-plus-circle"></i> Ajout d'une question</a>
</div>

<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">Intitulé de la question</th>
            <th scope="col">Technologie</th>
            <th scope="col">Niveau</th>
            <th scope="col">Type</th>
            <th scope="col">Quiz</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 40%;">@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Technology.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Level.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.QuestionType.Name)</td>
                <td> @Html.DisplayFor(modelItem => item.Quiz.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Questionid" class="btn btn-sm btn-success text-white"><i class="bi bi-pencil-fill"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Questionid" class="btn btn-sm btn-danger text-white"><i class="bi bi-x-lg"></i></a>
                </td>
            </tr>

        }

    </tbody>
</table>
